Repository syswonder/hvisor, changes with the labels that .github/labeler.yml gives for each.
All labels: aarch64, loongarch64, riscv64, x86_64

.github/labeler.yml:

aarch64:
- changed-files:
  - any-glob-to-any-file: src/arch/aarch64/**/*

loongarch64:
- changed-files:
  - any-glob-to-any-file: src/arch/loongarch64/**/*

riscv64:
- changed-files:
  - any-glob-to-any-file: src/arch/riscv64/**/*

x86_64:
- changed-files:
  - any-glob-to-any-file: src/arch/x86_64/**/*

add mulan license
  platform/aarch64/ok62xx-c/board.rs
  platform/aarch64/ok62xx-c/image/dts/dts精简.md
  src/device/virtio_trampoline.rs
  src/event.rs
  src/percpu.rs
Labels: none

format the file
  platform/aarch64/ok62xx-c/board.rs
  platform/aarch64/ok62xx-c/image/dts/ok6254-zone0.dts
  platform/aarch64/ok62xx-c/image/dts/ok6254-zone1.dts
  src/device/virtio_trampoline.rs
  src/event.rs
  src/percpu.rs
Labels: none

ok6254 use uart16550 driver & modify format to pass ci
  Cargo.toml
  platform/aarch64/ok62xx-c/board.rs
  platform/aarch64/ok62xx-c/cargo/features
  src/device/uart/mod.rs
  src/device/uart/uart_16550.rs
Labels: none

delete the unused script files
  platform/aarch64/ok62xx-c/image/dts/cmd
  platform/aarch64/ok62xx-c/image/test.py
Labels: none

format the file & change to english comment in files
  platform/aarch64/ok62xx-c/board.rs
  platform/aarch64/ok62xx-c/image/dts/ok6254-zone1.dts
Labels: none

loongarch64: update paging setup to use log2 page size, enhance trap context handling for per-CPU support, and clean up unused PCI code
  platform/loongarch64/ls3a5000/cargo/features
  src/arch/loongarch64/paging.rs
  src/arch/loongarch64/trap.rs
  src/arch/loongarch64/zone.rs
  src/pci/endpoint.rs
  src/pci/phantom_cfg.rs
Labels: loongarch64

Added support for Ti-OK6254, able to run hvisor, Zone0, Zone1
  Cargo.toml
  platform/aarch64/ok6254-c/board.rs
  platform/aarch64/ok6254-c/cargo/config.template.toml
  platform/aarch64/ok6254-c/cargo/features
  platform/aarch64/ok6254-c/configs/virtio_cfg.json
  platform/aarch64/ok6254-c/configs/zone1-linux.json
  platform/aarch64/ok6254-c/image/dts/Makefile
  platform/aarch64/ok6254-c/image/dts/OK6254-C-org.dts
  platform/aarch64/ok6254-c/image/dts/ok6254-zone0.dts
  platform/aarch64/ok6254-c/image/dts/ok6254-zone1.dts
  platform/aarch64/ok6254-c/linker.ld
  platform/aarch64/ok6254-c/platform.mk
  src/device/uart/uart_16550.rs
Labels: none

fix the bugs & Rename the file to make it canonical
  platform/aarch64/ok6254-c/board.rs
  platform/aarch64/ok6254-c/cargo/features
  platform/aarch64/ok6254-c/configs/zone1-linux-virtio.json
  platform/aarch64/ok6254-c/configs/zone1-linux.json
  platform/aarch64/ok6254-c/image/dts/zone0.dts
  platform/aarch64/ok6254-c/image/dts/zone1-linux.dts
Labels: none

fixed COM1 frozen after booting nonroot
  platform/loongarch64/ls3a5000/board.rs
  src/arch/loongarch64/zone.rs
Labels: loongarch64

riscv64: support unittest
  platform/riscv64/qemu-aia/board.rs
  platform/riscv64/qemu-aia/test/runner.sh
  platform/riscv64/qemu-plic/board.rs
  platform/riscv64/qemu-plic/test/runner.sh
  src/tests.rs
Labels: none

ci: add riscv64 unittest
  .github/workflows/ci.yml
Labels: none

riscv64: update runner.sh
  platform/riscv64/qemu-aia/test/runner.sh
  platform/riscv64/qemu-plic/test/runner.sh
Labels: none

Update PCI device definitions in board.rs for clarity, adjust compression threshold and log interval in zone.rs, and enhance logging levels in mmio handling functions for improved debugging.
  platform/loongarch64/ls3a5000/board.rs
  src/arch/loongarch64/zone.rs
  src/pci/pci.rs
Labels: loongarch64

Update shared memory size in board.rs for linux1-root configuration
  platform/loongarch64/ls3a5000/board.rs
Labels: none

ci: add systemtest for the risc-v qemu-plic architecture.
  .github/actions/setup-qemu/action.yml
  .github/actions/setup-riscv64-unknown-linux-gnu/action.yml
  .github/workflows/ci.yml
  platform/riscv64/qemu-aia/configs/zone1-linux-virtio.json
  platform/riscv64/qemu-plic/configs/zone1-linux-io.json
  platform/riscv64/qemu-plic/configs/zone1-linux-virtio.json
  platform/riscv64/qemu-plic/configs/zone1-linux.json
  platform/riscv64/qemu-plic/platform.mk
  platform/riscv64/qemu-plic/test/systemtest/boot_zone1.sh
  platform/riscv64/qemu-plic/test/systemtest/screen_zone1.sh
  platform/riscv64/qemu-plic/test/systemtest/tcompiledtb.sh
  platform/riscv64/qemu-plic/test/systemtest/tdownload_all.sh
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_insmod.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_ls.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_pwd.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_zone1_ls.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_zone1_start.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_zone_list1.txt
  platform/riscv64/qemu-plic/test/systemtest/testcase/tc_zone_list2.txt
  platform/riscv64/qemu-plic/test/systemtest/textract_dmesg.sh
  platform/riscv64/qemu-plic/test/systemtest/tresult.sh
  platform/riscv64/qemu-plic/test/systemtest/trootfs_deploy.sh
  platform/riscv64/qemu-plic/test/systemtest/tstart.sh
Labels: none

fix ci workflow config
  platform/aarch64/qemu-gicv3/test/systemtest/screen_zone1.sh
  platform/aarch64/qemu-gicv3/test/systemtest/tdownload_all.sh
  platform/aarch64/qemu-gicv3/test/systemtest/trootfs_deploy.sh
  platform/riscv64/qemu-plic/test/systemtest/screen_zone1.sh
  platform/riscv64/qemu-plic/test/systemtest/tdownload_all.sh
  platform/riscv64/qemu-plic/test/systemtest/trootfs_deploy.sh
Labels: none

VGic: a small bug fix
  src/device/irqchip/gicv2/vgic.rs
  src/device/irqchip/gicv3/vgic.rs
Labels: none

riscv64: improve compressed instruction decode about #161
  src/arch/riscv64/trap.rs
  src/device/irqchip/plic/vplic.rs
Labels: riscv64

make fmt
  src/arch/riscv64/trap.rs
  src/device/irqchip/plic/vplic.rs
Labels: riscv64

Remove NCPU auto detecting feature
  Cargo.toml
  platform/aarch64/rk3588/cargo/features
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/mm.rs
  src/consts.rs
  src/device/irqchip/gicv2/mod.rs
  src/device/irqchip/gicv3/gicr.rs
  src/device/irqchip/gicv3/mod.rs
  src/device/irqchip/gicv3/vgic.rs
  src/event.rs
  src/hypercall/mod.rs
  src/main.rs
  src/zone.rs
Labels: aarch64

Fix warnings for qemu-gicv3
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/entry.rs
  src/arch/aarch64/ipi.rs
  src/arch/aarch64/mm.rs
  src/arch/aarch64/mmu.rs
  src/arch/aarch64/mod.rs
  src/arch/aarch64/paging.rs
  src/arch/aarch64/s1pt.rs
  src/arch/aarch64/trap.rs
  src/arch/loongarch64/mm.rs
  src/arch/riscv64/mm.rs
  src/config.rs
  src/consts.rs
  src/device/irqchip/gicv2/mod.rs
  src/device/irqchip/gicv3/gicr.rs
  src/device/irqchip/gicv3/mod.rs
  src/device/irqchip/gicv3/vgic.rs
  src/device/uart/mod.rs
  src/device/virtio_trampoline.rs
  src/event.rs
  src/hypercall/mod.rs
  src/ivc.rs
  src/main.rs
  src/memory/addr.rs
  src/memory/mmio.rs
  src/memory/mod.rs
  src/pci/pci.rs
  src/percpu.rs
  src/platform/mod.rs
  src/zone.rs
Labels: aarch64, loongarch64, riscv64

Add license checker in workflow
  .github/workflows/ci.yml
  Makefile
  platform/aarch64/rk3568/board.rs
  src/arch/aarch64/sysreg.rs
  src/device/irqchip/gicv3/gicd.rs
  src/device/irqchip/gicv3/gicr.rs
  src/device/irqchip/gicv3/mod.rs
  src/device/uart/uart_16550.rs
  tools/license_checker.sh
Labels: aarch64

Add compilation test for rk3588 and ok6254-c
  .github/workflows/ci.yml
Labels: none

Adjust logging levels in loongarch64 CPU and hypercall modules to debug for improved verbosity, and update compression threshold and log interval constants in zone.rs for better performance tracking.
  src/arch/loongarch64/cpu.rs
  src/arch/loongarch64/zone.rs
  src/hypercall/mod.rs
Labels: loongarch64

Update src/device/irqchip/plic/vplic.rs
  src/device/irqchip/plic/vplic.rs
Labels: none

Update src/device/irqchip/plic/vplic.rs
  src/device/irqchip/plic/vplic.rs
Labels: none

Update readme.md
  README-zh.md
  README.md
Labels: none

Update readme.md
  README-zh.md
  README.md
Labels: none
