Repository syswonder/hvisor, pull requests merged in 2025-03, with the labels that each got.

#115 hotfix: v0.1.0 loongarch64 compilation problem; update auto ci testing for aarch64,riscv64,loongarch64 compilation
  .github/workflows/ci.yml
  Makefile
  src/device/irqchip/mod.rs
Labels: bug

#118 feat: add installation check for u-boot-tools in cargo_test.sh
  tools/cargo_test.sh
  tools/compress.sh
  tools/extract.sh
Labels: bug, ci

#117 feat(.github, test): add system tests for booting root and non-root in the CI workflow
  .github/workflows/ci.yml
  scripts/qemu-aarch64.mk
  test/tcompiledtb.sh
  test/tdownload_all.sh
  test/testcase/tc_insmod.txt
  test/testcase/tc_ls.txt
  test/testcase/tc_pwd.txt
  test/testcase/tc_zone1_ls.txt
  test/testcase/tc_zone1_start.txt
  test/testcase/tc_zone_list1.txt
  test/testcase/tc_zone_list2.txt
  test/textract_dmesg.sh
  test/tresult.sh
  test/tstart.sh
Labels: enhancement, aarch64, ci

#124 riscv64: add aclint support
  Cargo.lock
  Cargo.toml
  platform/riscv64/qemu-aia/board.rs
  platform/riscv64/qemu-plic/board.rs
  platform/riscv64/qemu-plic/cargo/features
  platform/riscv64/qemu-plic/image/dts/zone0.dts
  platform/riscv64/qemu-plic/platform.mk
  src/arch/riscv64/ipi.rs
  src/device/irqchip/aclint/mod.rs
  src/device/irqchip/mod.rs
Labels: enhancement, riscv64
