Repository syswonder/hvisor, pull requests merged in 2025-04, with the labels that each got.

#128 Update virtio-cfg for board qemu-gicv3
  platform/aarch64/qemu-gicv3/configs/zone1-linux-virtio.json
  platform/aarch64/qemu-gicv3/configs/zone1-linux.json
  src/arch/aarch64/zone.rs
Labels: enhancement, aarch64

#130 riscv64: add vplic struct
  Cargo.lock
  Cargo.toml
  platform/riscv64/qemu-plic/board.rs
  src/arch/riscv64/trap.rs
  src/arch/riscv64/zone.rs
  src/device/irqchip/aclint/mod.rs
  src/device/irqchip/aia/aplic.rs
  src/device/irqchip/aia/mod.rs
  src/device/irqchip/mod.rs
  src/device/irqchip/plic/mod.rs
  src/device/irqchip/plic/plic.rs
  src/device/irqchip/plic/vplic.rs
  src/event.rs
  src/zone.rs
Labels: enhancement, riscv64

#132 add config check and add zone error handler to avoid panic
  platform/aarch64/qemu-gicv3/test/systemtest/tstart.sh
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/trap.rs
  src/arch/aarch64/zone.rs
  src/config.rs
  src/consts.rs
  src/device/irqchip/gicv3/mod.rs
  src/device/virtio_trampoline.rs
  src/event.rs
  src/hypercall/mod.rs
  src/logging.rs
  src/memory/mmio.rs
  src/zone.rs
Labels: bug, aarch64, ci

#138 riscv64: move sstc to features
  Cargo.toml
  platform/riscv64/qemu-plic/cargo/features
  src/arch/riscv64/cpu.rs
Labels: enhancement, riscv64

#136 support for rk3568
  .github/workflows/ci.yml
  Cargo.toml
  platform/aarch64/imx8mp/cargo/features
  platform/aarch64/qemu-gicv2/cargo/features
  platform/aarch64/qemu-gicv3/cargo/features
  platform/aarch64/rk3568/board.rs
  platform/aarch64/rk3568/cargo/config.template.toml
  platform/aarch64/rk3568/cargo/features
  platform/aarch64/rk3568/configs/linux2.json
  platform/aarch64/rk3568/configs/virtio.json
  platform/aarch64/rk3568/image/dts/Makefile
  platform/aarch64/rk3568/image/dts/rk3568-evb1-ddr4-v10-linux.dts
  platform/aarch64/rk3568/image/dts/rk3568.dts
  platform/aarch64/rk3568/image/dts/rk3568_limit_zone0.dts
  platform/aarch64/rk3568/image/dts/rk3568_limit_zone1.dts
  platform/aarch64/rk3568/linker.ld
  platform/aarch64/rk3568/platform.mk
  platform/aarch64/zcu102/cargo/features
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/entry.rs
  src/arch/aarch64/ipi.rs
  src/arch/aarch64/mmu.rs
  src/arch/aarch64/sysreg.rs
  src/arch/aarch64/trap.rs
  src/device/uart/mod.rs
  src/device/uart/pl011.rs
  src/device/uart/uart_16550.rs
Labels: enhancement, aarch64

#142 feat: add the CI workflow to support running CI with the latest hvisor-tool and the configuration files in hvisor.
  .github/actions/setup-aarch64-none-linux-gnu/action.yml
  .github/actions/setup-qemu/action.yml
  .github/workflows/ci.yml
  Makefile
  platform/aarch64/qemu-gicv3/configs/zone1-linux.json
  platform/aarch64/qemu-gicv3/test/systemtest/boot_zone1.sh
  platform/aarch64/qemu-gicv3/test/systemtest/screen_zone1.sh
  platform/aarch64/qemu-gicv3/test/systemtest/tcompiledtb.sh
  platform/aarch64/qemu-gicv3/test/systemtest/tdownload_all.sh
  platform/aarch64/qemu-gicv3/test/systemtest/testcase/tc_ls.txt
  platform/aarch64/qemu-gicv3/test/systemtest/testcase/tc_zone_list1.txt
  platform/aarch64/qemu-gicv3/test/systemtest/testcase/tc_zone_list2.txt
  platform/aarch64/qemu-gicv3/test/systemtest/tresult.sh
  platform/aarch64/qemu-gicv3/test/systemtest/trootfs_deploy.sh
  platform/aarch64/qemu-gicv3/test/systemtest/tstart.sh
Labels: enhancement, ci

#134 feat: Enable dynamic CPU detection for ARM platforms via device tree
  Cargo.lock
  Cargo.toml
  src/arch/aarch64/mm.rs
  src/consts.rs
  src/device/irqchip/gicv2/gic.rs
  src/device/irqchip/gicv2/mod.rs
  src/device/irqchip/gicv3/gicr.rs
  src/device/irqchip/gicv3/mod.rs
  src/device/irqchip/gicv3/vgic.rs
  src/device/virtio_trampoline.rs
  src/hypercall/mod.rs
  src/main.rs
  src/zone.rs
Labels: enhancement, aarch64

#141 docs. add Github CI status in README.md
  README.md
Labels: documentation, ci

#144 riscv64: fix zone shutdown bug
  platform/riscv64/qemu-plic/configs/zone1-linux.json
  src/arch/riscv64/cpu.rs
  src/device/irqchip/plic/mod.rs
  src/event.rs
  src/main.rs
Labels: bug, riscv64

#145 riscv64: improve sbi and ipi code
  Cargo.lock
  Cargo.toml
  src/arch/riscv64/csr.rs
  src/arch/riscv64/ipi.rs
  src/arch/riscv64/sbi.rs
  src/arch/riscv64/trap.rs
  src/device/irqchip/aia/aplic.rs
  src/device/irqchip/plic/mod.rs
  src/device/irqchip/plic/vplic.rs
  src/device/uart/mod.rs
  src/event.rs
Labels: enhancement, riscv64

#150 ci. add issue and pr auto labeling bot and workflows
  .github/labeler.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/labeler.yml
  Cargo.toml
Labels: ci
