Repository syswonder/hvisor, pull requests merged in 2025-02, with the labels that each got.

#97 merging dev-loongarch to lastest dev
  .gitignore
  .vscode/settings.json
  Cargo.toml
  Makefile
  rust-toolchain.toml
  scripts/3a5000-loongarch64.mk
  src/arch/loongarch64/cpu.rs
  src/arch/loongarch64/ipi.rs
  src/arch/loongarch64/mm.rs
  src/arch/loongarch64/paging.rs
  src/arch/loongarch64/register/mod.rs
  src/arch/loongarch64/s2pt.rs
  src/arch/loongarch64/trap.rs
  src/arch/loongarch64/zone.rs
  src/device/irqchip/ls7a2000/chip.rs
  src/device/irqchip/ls7a2000/mod.rs
  src/device/uart/loongson_uart/mod.rs
  src/device/uart/loongson_uart/uart.S
  src/device/uart/mod.rs
  src/device/virtio_trampoline.rs
  src/event.rs
  src/hypercall/mod.rs
  src/main.rs
  src/memory/addr.rs
  src/platform/ls3a5000_loongarch64.rs
  src/tests.rs
  src/zone.rs
Labels: enhancement

#91 Add zcu102 platform support.
  .gitignore
  .vscode/settings.json
  Cargo.toml
  Makefile
  images/aarch64/bootloader/u-boot-v2.bin
  images/aarch64/devicetree/linux1-v2.dts
  images/aarch64/devicetree/linux1.dts
  images/aarch64/devicetree/zcu102-nonroot-aarch64.dts
  images/aarch64/devicetree/zcu102-root-aarch64.dts
  scripts/qemu-aarch64.mk
  scripts/zcu102-aarch64-fit.its
  scripts/zcu102-aarch64.ld
  scripts/zcu102-aarch64.mk
  src/arch/aarch64/boot_pt.S
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/ipi.rs
  src/arch/aarch64/sysreg.rs
  src/arch/aarch64/trap.rs
  src/arch/aarch64/zone.rs
  src/device/irqchip/gicv2/gic.rs
  src/device/irqchip/gicv2/gic_ref.rs
  src/device/irqchip/gicv2/gicc.rs
  src/device/irqchip/gicv2/gicd.rs
  src/device/irqchip/gicv2/gich.rs
  src/device/irqchip/gicv2/gicv.rs
  src/device/irqchip/gicv2/mod.rs
  src/device/irqchip/gicv2/vgic.rs
  src/device/irqchip/gicv3/gicd.rs
  src/device/irqchip/mod.rs
  src/device/uart/mod.rs
  src/device/uart/xuartps.rs
  src/event.rs
  src/ivc.rs
  src/platform/mod.rs
  src/platform/qemu_aarch64.rs
  src/platform/zcu102_aarch64.rs
Labels: enhancement

#101 aarch64: fix root linux not booting
  Makefile
  scripts/qemu-aarch64.mk
  src/hypercall/mod.rs
Labels: bug, help wanted

#104 update hvisor readme
  README-zh.md
  README.md
Labels: documentation

#99 [loongarch64] merge loongarch64 branch into dev with new changes from other pull requests(2025.2.7)
  src/arch/loongarch64/trap.rs
  src/arch/loongarch64/zone.rs
  src/config/tests.rs
  src/device/irqchip/ls7a2000/mod.rs
  src/device/virtio_trampoline.rs
  src/event.rs
  src/hypercall/mod.rs
Labels: enhancement

#78 add aia=aplic-imsic
  Cargo.toml
  images/riscv64/devicetree/linux1-aia.dts
  scripts/qemu-riscv64.mk
  src/arch/riscv64/cpu.rs
  src/arch/riscv64/trap.rs
  src/arch/riscv64/zone.rs
  src/device/irqchip/aia/aplic.rs
  src/device/irqchip/aia/imsic.rs
  src/device/irqchip/aia/mod.rs
  src/device/irqchip/mod.rs
  src/platform/mod.rs
  src/platform/qemu_riscv64.rs
Labels: enhancement, riscv64

#107 Add changelog, updated Github CI and formatted exisiting code with cargo fmt
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README-zh.md
  README.md
  scripts/3a5000-loongarch64.mk
  scripts/zcu102-aarch64.mk
  src/arch/aarch64/cpu.rs
  src/arch/aarch64/iommu.rs
  src/arch/aarch64/ipi.rs
  src/arch/aarch64/mm.rs
  src/arch/aarch64/mmu.rs
  src/arch/aarch64/mod.rs
  src/arch/aarch64/trap.rs
  src/arch/aarch64/zone.rs
  src/arch/loongarch64/cpu.rs
  src/arch/loongarch64/register/gcfg.rs
  src/arch/loongarch64/register/gcntc.rs
  src/arch/loongarch64/register/gintc.rs
  src/arch/loongarch64/register/gstat.rs
  src/arch/loongarch64/register/gtlbc.rs
  src/arch/loongarch64/register/macros.rs
  src/arch/loongarch64/register/mod.rs
  src/arch/loongarch64/register/trgp.rs
  src/arch/loongarch64/zone.rs
  src/arch/mod.rs
  src/arch/riscv64/cpu.rs
  src/arch/riscv64/sbi.rs
  src/arch/riscv64/trap.rs
  src/arch/riscv64/zone.rs
  src/config.rs
  src/device/irqchip/aia/aplic.rs
  src/device/irqchip/gicv2/gic.rs
  src/device/irqchip/gicv2/gic_ref.rs
  src/device/irqchip/gicv2/gicc.rs
  src/device/irqchip/gicv2/gicd.rs
  src/device/irqchip/gicv2/gich.rs
  src/device/irqchip/gicv2/gicv.rs
  src/device/irqchip/gicv2/mod.rs
  src/device/irqchip/gicv2/vgic.rs
  src/device/irqchip/gicv3/gicd.rs
  src/device/irqchip/mod.rs
  src/device/irqchip/plic/mod.rs
  src/device/uart/xuartps.rs
  src/error.rs
  src/ivc.rs
  src/main.rs
  src/memory/mm.rs
  src/platform/imx8mp_aarch64.rs
  src/platform/ls3a5000_loongarch64.rs
  src/platform/mod.rs
  src/platform/qemu_aarch64.rs
  src/platform/qemu_riscv64.rs
  src/platform/zcu102_aarch64.rs
  src/zone.rs
  tools/cargo_test.sh
Labels: documentation, enhancement
